<!-- <div id="cover"><div>Please Turn Your Phone</div></div> -->

<div class="warning">
  <main>
    <section class="player">
      <img src="{{ yourPlayer?.playerImage }}" />
      <span id="quote">
        <p>"{{ advice?.slip?.advice }}"</p>
        <p class="quote">- {{ yourPlayer?.playerName }}</p></span
      >
    </section>
    <section *ngIf="randQuestions.length" class="questionhold">
      <div class="q" (click)="nextQuestion(1)" [@changeFavPos]="currentState">
        <p class="qtext">{{ randQuestions[qIndex]?.scenario }}</p>
      </div>
      <p id="OR">OR</p>

      <div class="q" (click)="nextQuestion(2)" [@changeFavPos]="currentState">
        <p class="qtext">{{ randQuestions[qIndex]?.scenario2 }}</p>
      </div>
    </section>

    <button class="home " routerLink="/home">
      I want to quit this game...
    </button>
    <section id="progress">
      <p id="counter">Round {{ questionCounter + 1 }} of 6</p>
      <div id="progress-bar">
        <div *ngFor="let question of doneQuestions">
          <div class="progress"></div>
        </div>
      </div>
    </section>
  </main>
</div>
