<!-- <div id="cover"><div>Please Turn Your Phone</div></div> -->
<div class="warning">
  <main>
    <!-- <app-questions></app-questions> -->
    <section class="player">
      <img src="{{ yourPlayer?.playerImage }}" (click)="confirmPlayer(i)" />

      <p>- {{ yourPlayer?.playerName }}</p>
    </section>
    <section *ngIf="randQuestions.length" class="questionhold">
      <div class="q" (click)="nextQuestion(1)" [@changeFavPos]="currentState">
        <p class="qtext">{{ randQuestions[qIndex]?.scenario }}</p>
      </div>
      <p id="OR">OR</p>

      <div class="q" (click)="nextQuestion(2)" [@changeFavPos]="currentState">
        <p class="qtext">{{ randQuestions[qIndex]?.scenario2 }}</p>
      </div>
    </section>
    <div class="progress">
      <p id="counter">Round {{ questionCounter + 1 }} of 6</p>
    </div>

    <a class="home" routerLink="/home"><p>I want to quit this game...</p></a>
  </main>
</div>
