#cover {
  background-color: #1c3232;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  position: absolute;
  top: 0%;
}

#cover div {
  color: white;
}
#OR,
#counter {
  color: rgb(218, 238, 248);
  margin-top: 10px;
}

main {
  background-color: #1c3232;
  visibility: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  position: relative;
  height: 100vh;
  width: 100vw;
}

a:hover {
  color: #9b7962;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  letter-spacing: 1px;
  text-align: center;
}

#arrowkey {
  display: none;
}

.q {
  background: linear-gradient(
    0deg,
    rgba(218, 238, 248, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  height: 70%;
  width: 40%;
  padding: 20px;
  cursor: pointer;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-right: 16px;
  margin-left: 16px; */
}
.qtext {
  font-size: 13pt;
}
.questionhold {
  height: 55%;
  display: flex;
  justify-content: space-around;
}
.container {
  height: 150px;
  overflow: hidden;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border-radius: 6px;
  color: #1c3232;
  background-color: rgb(218, 238, 248);
  cursor: pointer;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 12px;
}

.player {
  height: fit-content;
  width: fit-content;
  margin-top: 20px;
  padding: 10px;
  color: #daeef8;
  font-family: "Lato", sans-serif;
}

#quote {
  font-family: "Lato", sans-serif;
  font-size: 3vh;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
img {
  height: auto;
  width: auto;
  max-height: 50px;
  max-width: 50px;
  margin-right: 6px;
  border-radius: 50%;
}

#progress {
  display: flex;
  flex-direction: column;
  /* width: fit-content; */
}

#progress-bar {
  align-self: flex-start;
  display: flex;
}

.progress {
  height: 5px;
  width: 15.5vw;
  background-color: white;
  margin-right: 8px;
}

@media screen and (min-width: 478px) {
  #cover {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  section {
    justify-content: center;
    align-items: center;
  }
  .questionhold {
    height: 60%;
  }

  .home {
    top: 90%;
    bottom: 10px;
    left: 20px;
    right: 70%;
  }
  .qtext {
    font-size: 20pt;
  }
}
@media screen and (min-width: 992px) {
  .player {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
  }

  #arrowkey {
    display: flex;
  }

  #arrowkey p {
    position: fixed;
    bottom: 19%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
  }

  .q {
    margin-right: 40px;
    margin-left: 40px;
    height: 70%;
    width: 45%;
  }

  .qtext {
    font-size: 28pt;
  }
  .questionhold {
    height: 80%;
  }
  .q:hover {
    /* border: 20px black outset; */
    background: #afddf4;
  }

  .home:hover {
    background: #9b7962;
    color: #daeef8;
    border-color: #9b7962;
  }
}
