/* main {
  visibility: hidden;
} */
#OR,
#counter {
  color: rgb(218, 238, 248);
}
main {
  visibility: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1c3232;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
}

a:hover {
  color: #9b7962;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  letter-spacing: 1px;
  text-align: center;
}
.q {
  background: linear-gradient(
    0deg,
    rgba(218, 238, 248, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );

  height: 70%;
  width: 45%;
  padding: 20px;
  cursor: pointer;
  border: 1px black outset;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  margin-left: 16px;
}
.qtext {
  font-size: 1.5em;
}
.questionhold {
  height: 55%;
}
.container {
  height: 150px;
  overflow: hidden;
}

.home {
  border: 1px solid #9b7962;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 100px;
  color: #1c3232;
  background-color: rgb(218, 238, 248);
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 20px;
  text-decoration: none;
}

.progress {
  position: fixed;
  bottom: 20px;
}
.warning {
  transform: rotate(90deg);
  height: 100vh;
  width: 100vw;
}
.player {
  height: fit-content;
  width: fit-content;
  padding: 10px;
  border: 1px solid rgb(218, 238, 248);
  border-radius: 10px;
  background-color: rgb(218, 238, 248);
  position: fixed;
  top: 10px;
  left: 20px;
}
img {
  height: auto;
  width: auto;
  max-height: 50px;
  max-width: 50px;
  border-radius: 50%;
}

@media screen and (min-width: 478px) {
  .warning {
    transform: rotate(0deg);
  }
}

@media screen and (min-width: 768px) {
  section {
    justify-content: center;
    align-items: center;
  }
  .questionhold {
    height: 60%;
  }
  .progress {
    bottom: 9%;
  }
  .home {
    top: 90%;
    bottom: 10px;
    left: 20px;
    right: 70%;
  }
}
@media screen and (min-width: 992px) {
  .player {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
  }

  .q {
    margin-right: 40px;
    margin-left: 40px;
    height: 70%;
    width: 45%;
  }
  .questionhold {
    height: 80%;
  }
  .q:hover {
    /* border: 20px black outset; */
    background: #98473c;
  }
  .progress {
    bottom: 17%;
  }
}
