<main class="choosePlayer" *ngIf="show">
  <div class="logo">
    <img src="" alt="" />
  </div>
  <h1>Choose a Player</h1>

  <section class="player-container">
    <div class="player" *ngFor="let person of faces; index as i">
      <img
        class="face"
        src="{{ person[0].picture.large }}"
        (click)="confirmPlayer(i)"
      />
      <div class="profile">
        <span class="headshot">
          <p class="advice">"{{ advices[i]?.slip?.advice }}"</p>
        </span>
        <button class="choose" type="button" (click)="confirmPlayer(i)">
          Choose Player
        </button>
      </div>

      <form
        #nameForm2="ngForm"
        id="nameform2"
        (ngSubmit)="choosePlayer(nameForm2, person[0].picture.large)"
        class="confirmation"
        *ngIf="index === i"
      >
        <label for="name">Enter name:</label>
        <input type="text" id="name" name="name" required ngModel />

        <button class="startConfirm" type="submit">
          Start
        </button>
        <button
          type="button"
          class="startConfirm cancel"
          (click)="deselectPlayer()"
        >
          X
        </button>
      </form>
    </div>
  </section>
</main>
<button type="button" routerLink="/game">Start Game</button>
<a routerLink="/scores">Rankings</a>
<a routerLink="/add">Add a Scenario</a>
