<!-- <div class="splash">
  <div class="splash_logo">
    What Would You Do?
  </div>
</div>
<div class="text">
  <p>Would</p>
  <p>You</p>
  <button>R</button>
</div>
-->

<span *ngIf="!show">
  <button (click)="showPlayers()">Choose Player</button>
  <a routerLink="/scores">Scores</a>
</span>

<section class="choosePlayer" *ngIf="show">
  <p>Whose life do you want to live...?</p>
  <div class="playersContainer">
    <div
      *ngFor="let num of divNums; index as i"
      class="player"
      (click)="selectPlayer(i)"
    >
      <app-questions></app-questions>
    </div>
  </div>
  <div class="confirmation" *ngIf="confirmChoice">
    <p>You want to play the game as:</p>
    <p>[PLAYER NAME HERE]</p>
    <button class="start" routerLink="/game">Start Game</button>
    <p class="cancel" (click)="deselectPlayer()">x Cancel</p>
  </div>
</section>
<button routerLink="/game">Start Game</button>
