<div *ngIf="clicked">
  <div class="wholedoc" (click)="deselectPlayer()"></div>
</div>
<main class="choosePlayer" *ngIf="show">
  <div class="logo">
    <img
      id="logo"
      src="/assets/PEEPLE.png"
      alt=""
      title="Sheeple vs Peeple"
      (click)="goHome()"
    />
  </div>

  <h1>Choose a Player</h1>
  <section class="sheepContainer">
    <div class="sheep"></div>

    <div class="sheep-alt"></div>

    <div class="sheep"></div>

    <div class="sheep-alt"></div>

    <div class="sheep"></div>
  </section>
  <section class="player-container">
    <div class="player" *ngFor="let person of faces; index as i">
      <img
        class="face"
        src="{{ person[0].picture.large }}"
        (click)="confirmPlayer(i)"
        title="Player {{ i }} Image"
      />
      <div class="profile">
        <span class="headshot">
          <p class="advice">"{{ advices[i]?.slip?.advice }}"</p>
        </span>
        <button class="choose" type="button" (click)="confirmPlayer(i)">
          Choose Player
        </button>
      </div>

      <form
        #nameForm2="ngForm"
        id="nameform2"
        (ngSubmit)="choosePlayer(nameForm2, person[0].picture.large)"
        class="confirmation"
        *ngIf="index === i"
      >
        <label for="name">Enter name:</label>

        <input type="text" id="name" name="name" required ngModel />
        <div *ngIf="nameForm2.invalid; then thenBlock; else elseBlock"></div>
        <ng-template #thenBlock
          ><p id="nameinvalid">
            please enter valid name
          </p></ng-template
        >
        <ng-template #elseBlock
          ><p id="namevalid">
            <!-- teasting -->
          </p></ng-template
        >

        <button
          class="startConfirm"
          [disabled]="nameForm2.invalid"
          type="submit"
        >
          Start
        </button>
        <button
          type="button"
          class="startConfirm cancel"
          (click)="deselectPlayer()"
        >
          X
        </button>
      </form>
    </div>
  </section>
  <footer>
    <a class="footer-link" routerLink="/scores">Rankings</a>

    <button id="tutorial" type="button" routerLink="/tutorial">
      How to Play
    </button>

    <a class="footer-link" routerLink="/add">Add a Scenario</a>
  </footer>
</main>
