.choosePlayer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h1 {
  text-align: center;
}
.playersContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.player {
  margin: 6px;
}
