.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.headshot {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

img {
  border-radius: 50%;
  width: 128px;
  height: 128px;
}

span {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 6px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
