main {
  background-color: #afddf4;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.wholedoc {
  z-index: 4;
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: 20%;
  position: fixed;
}

.logo {
  cursor: pointer;
  height: auto;
  width: auto;
  max-height: 150px;
  max-width: 150px;
  border-radius: 40px;
}

h1 {
  text-align: center;
}

.rankings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.more {
  border: 1px solid #98473c;
  background-color: #98473c;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 0.8em;
  padding: 6px;
  text-align: center;
  width: fit-content;
  height: fit-content;
  margin-bottom: 10px;
}

.topl {
  position: absolute;
  top: 0px;
  left: 0px;
  border-bottom-right-radius: 3px;
}

.topr {
  position: absolute;
  top: 0px;
  right: 0px;
  border-bottom-left-radius: 3px;
}
.tens {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  width: 90%;
}

caption {
  background-color: #98473c;
  color: #d8e9f1;
  border-radius: 3px;
  width: fit-content;
  padding: 6px;
  font-family: "Lato", sans-serif;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -3%;
}

table {
  border-radius: 5px;
  background-color: #d8e9f1;
  padding: 20px 5px 5px 5px;
  margin-bottom: 20px;
  width: 85%;
  position: relative;
}
table td {
  padding: 6px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

table tr {
  border-bottom: 1px solid black;
}

table img {
  border: 2px solid black;
}
.score {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #98473c;
  text-shadow: 1px 2px #1c3232;
}

#flash {
  animation-name: blink;
  animation: blink 1.5s linear infinite;
  margin-left: 3%;
  text-shadow: none;
  color: orangered;
  font-family: "Mansalva", sans-serif;
}

@keyframes blink {
  0% {
    opacity: 0;
    font-size: 100%;
  }
  50% {
    opacity: 0.5;
    font-size: 150%;
  }

  100% {
    opacity: 1;
    font-size: 100%;
  }
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}
.face {
  border: 2px solid #98473c;
  border-radius: 50%;
  width: auto;
  height: auto;
  max-width: 60px;
  max-height: 60px;
  z-index: 2;
  margin-right: 10px;
  margin-top: 20px;
}

.scoreContent {
  text-align: center;
  align-self: center;
  width: 200px;
  font-family: "Lato", sans-serif;
  font-size: 0.5em;
}
.result {
  position: relative;
  color: #98473c;
  top: 20px;
  font-weight: bolder;
  text-align: center;
}
.underlined {
  text-decoration: underline #1c3232;
  font-size: 20px;
}

.recap {
  border: 1px solid #98473c;
  color: #98473c;
  border-radius: 5px;
  background-color: #d8e9f1;
  padding: 6px;
  margin: 16px 4px;
}

.recap-container {
  background: white;
  color: #1c3232;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  width: 85%;
  height: auto;
  min-height: 50%;
  border: 1px solid;
  border-color: #d8e9f1;
  border-radius: 5px;
}

.answers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #1c3232;
  width: 100%;
  padding: 16px;
}

.answer {
  font-family: "Lato", sans-serif;
  text-align: center;
  padding: 10px;
  width: 50%;
}

.hidden {
  visibility: hidden;
}

/* .left {
  text-align: start;
  border-right: 1px solid #1c3232;
}

.right {
  text-align: end;
} */
.choosen {
  color: rgb(10, 19, 10);
  background-color: #fff38e;
  /* box-shadow: 5px 10px 8px 10px lightgoldenrodyellow; */
  font-weight: bold;
}
.exit {
  margin-top: 10px;
  font-size: 1em;
  padding: 10px;
  border-radius: 3px;
  background-color: #98473c;
  color: white;
}

h2 {
  font-size: 20px;
  color: #98473c;
  font-weight: bold;
}

@media screen and (min-width: 478px) {
  .logo {
    position: absolute;
    left: 3%;
    top: 14%;
  }

  .score {
    color: #98473c;
    text-shadow: 1px 2px #1c3232;
  }

  .scoreContent {
    font-size: 0.5em;
  }
  .result {
    position: relative;
    color: #98473c;
    font-weight: bolder;
    font-size: 1em;
  }
  .underlined {
    font-size: 30px;
  }

  .top {
    height: 66%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .sheep {
    position: absolute;
    left: 110%;
    bottom: 12%;
    transform: translateY(50%);
    animation-name: move;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  @keyframes move {
    0% {
      left: 110%;
    }
    50% {
      left: 125%;
      transform: rotate(-15deg);
    }
    100% {
      left: 110%;
      transform: rotate(15%);
    }
  }

  .tens {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  main {
    height: 100%;
  }

  .logo {
    left: 4%;
    top: 8%;
  }
  .underlined {
    font-size: 50px;
  }

  .topl {
    position: absolute;
    top: 0px;
    left: 40px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    width: fit-content;
  }

  .topr {
    position: absolute;
    top: 0px;
    right: 40px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: fit-content;
  }
  .profile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .recap-container {
    top: 15%;
  }
  table {
    padding: 30px 5px 5px 5px;
  }
}

@media screen and (min-width: 812px) {
  .logo {
    top: 22%;
  }
}

@media screen and (min-width: 992px) {
  main {
    font-size: 35px;
    height: auto;
  }
  .logo {
    top: 10%;
    max-height: 220px;
    max-width: 220px;
  }
  .page {
    width: 80%;
  }

  .more {
    position: fixed;
  }

  .topl {
    left: 0;
  }

  .topr {
    right: 0;
  }
  .buttons {
    height: 40%;
  }

  .underlined {
    font-size: 50px;
  }

  .recap-container {
    top: 29%;
    width: 70%;
  }
  h2 {
    font-size: 50px;
  }

  .logo:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
  .more:hover {
    border-color: white;
    background-color: white;
    color: #98473c;
  }
  .recap:hover {
    background-color: #98473c;
    color: white;
  }

  .exit:hover {
    background-color: white;
    color: #98473c;
    border-color: #98473c;
  }
  table {
    padding: 40px 10px 10px 10px;
  }
}
