<main>
  <h1>Your score: {{ yourScore }}</h1>
  <div *ngIf="yourScore > averageScore; then thenBlock; else elseBlock"></div>
  <ng-template #thenBlock><p>you answered like everyone else</p></ng-template>
  <ng-template #elseBlock
    ><p>you answered opposite everyone else</p></ng-template
  >
  <section>
    <img src="{{ yourPlayer?.playerImage }}" (click)="confirmPlayer(i)" />
    <span>
      <p>- {{ yourPlayer?.playerName }}</p>
    </span>
  </section>
  <div class="rankings">
    <h2>Most Alike</h2>
    <table>
      <tr>
        <th>Player</th>
        <th></th>
        <th>Score</th>
      </tr>
      <tr *ngFor="let player of highScores; index as i">
        <td *ngIf="i < 5"><img src="{{ player?.playerimage }}" /></td>
        <td *ngIf="i < 5">{{ player?.playername }}</td>
        <td *ngIf="i < 5">{{ player?.playerscore }}</td>
      </tr>
    </table>
  </div>
  <div class="rankings">
    <h2>Most Different</h2>
    <table>
      <tr>
        <th>Player</th>
        <th></th>
        <th>Score</th>
      </tr>
      <tr *ngFor="let player of lowScores; index as i">
        <td *ngIf="i < 5"><img src="{{ player?.playerimage }}" /></td>
        <td *ngIf="i < 5">{{ player?.playername }}</td>
        <td *ngIf="i < 5">{{ player?.playerscore }}</td>
      </tr>
    </table>
  </div>
  <a routerLink="/home" (click)="resetScore()">Home</a>
</main>
