main {
  height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.rankings {
  display: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

h2 {
  margin-bottom: 20px;
}

table {
  width: 80%;
  border: 1px solid red;
}
table td {
  border: 1px solid black;
  padding: 6px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}
