main {
  height: 100vh;
  padding: 40px;
  background-color: #afddf4;
  background-size: 100vh auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 80px;
  width: 80px;
}
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.rankings {
  display: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.playAgain {
  border: 1px solid #98473c;
  color: white;
  border-radius: 5px;
  background-color: #98473c;
  font-family: "Lato", sans-serif;
  padding: 6px;
  margin-top: 20px;
}

.tens {
  display: flex;
  flex-direction: row;
}

h2 {
  margin-bottom: 20px;
}

table {
  border: 1px solid red;
}
table td {
  border: 1px solid black;
  padding: 6px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}
.score {
  color: #98473c;
  text-shadow: 1px 2px #1c3232;
}
.charName {
  position: absolute;
  top: 20px;
  left: 110px;
}
.face {
  border: 2px solid #98473c;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  margin-top: 16px;
  margin-bottom: 8px;
  position: absolute;
  top: -10px;
  left: 50px;
  transform: translate(-50%);
  z-index: 2;
}
.scoreContent {
  position: relative;
  top: 10px;
  text-align: center;
}
.result {
  position: relative;
  color: #98473c;
  top: 20px;
  font-weight: bolder;
  text-align: center;
}
.underlined {
  text-decoration: underline #1c3232;
  font-size: 30px;
}
@media screen and (min-width: 478px) {
  .score {
    color: #98473c;
    text-shadow: 1px 2px #1c3232;
  }
  .charName {
    position: absolute;
    top: 20px;
    left: 110px;
  }
  .face {
    border: 2px solid #98473c;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin-top: 16px;
    margin-bottom: 8px;
    position: absolute;
    top: -10px;
    left: 50px;
    transform: translate(-50%);
    z-index: 2;
  }
  .scoreContent {
    position: relative;
    top: 10px;
  }
  .result {
    position: relative;
    color: #98473c;
    top: 20px;
    font-weight: bolder;
  }
  .underlined {
    text-decoration: underline #1c3232;
    font-size: 30px;
  }
}

@media screen and (min-width: 768px) {
  main {
    height: 100%;
    font-size: 35px;
    background-size: 100vh auto;
  }
  .underlined {
    text-decoration: underline #1c3232;
    font-size: 50px;
  }
  .face {
    display: block;
    position: relative;

    left: -150px;
    top: -60px;
  }
  .charName {
    position: relative;
    top: -140px;
    left: -80px;
    display: block;
  }
  .sheep {
    display: block;
    position: relative;
    top: 12px;
    left: 100px;
  }
}

@media screen and (min-width: 992px) {
  main {
    font-size: 35px;
  }

  .page {
    width: 80%;
  }
  .underlined {
    text-decoration: underline #1c3232;
    font-size: 50px;
  }
  .face {
    position: relative;

    left: -150px;
    top: -60px;
  }
  .charName {
    position: relative;
    top: -140px;
    left: -80px;
    display: block;
  }
  .sheep {
    display: block;
    position: relative;
    top: 12px;
    left: 100px;
  }

  .playAgain:hover {
    border-color: white;
    background-color: white;
    color: #98473c;
  }
}
