<section>
  <img
    id="logo"
    src="./assets/PEEPLE.png"
    title="sheeple vs peeple"
    (click)="goHome()"
  />
  <h1>Create-A-Question</h1>

  <form #newScenario="ngForm" (submit)="addScenario(newScenario)">
    <div id="formhold">
      <div class="scenario-holder">
        <textarea
          name="scenario1"
          id="scenario1"
          placeholder="Type your scenario here"
          required
          ngModel
        ></textarea>
      </div>
      <div id="OR">
        <p>OR</p>
      </div>
      <div class="scenario-holder">
        <textarea
          name="scenario2"
          id="scenario2"
          placeholder="Type it's opposition"
          required
          ngModel
        ></textarea>
      </div>
    </div>
    <button class="recap" (click)="showRecap()" id="ADD" type="button">
      <!-- <button id="ADD" type="submit"> -->
      ADD
    </button>
    <div class="recap-container" *ngIf="clicked">
      <p class="message">
        Do you want to submit your questions?
      </p>
      <button id="ADD" type="submit">Submit</button>
      <button class="exit" (click)="showRecap()">X Exit</button>
    </div>
  </form>

  <button id="back" type="button" routerLink="/players">
    Back to the Game
  </button>
</section>
