<div *ngIf="clicked">
  <div class="wholedoc" (click)="showRecap()"></div>
</div>
<section>
  <img
    id="logo"
    src="./assets/PEEPLE.png"
    title="sheeple vs peeple"
    (click)="goHome()"
  />

  <h1>Submit A Question</h1>

  <form #newScenario="ngForm" (submit)="addScenario(newScenario)">
    <div id="formhold">
      <div class="scenario-holder">
        <textarea
          name="scenario1"
          id="scenario1"
          placeholder="Type one scenario here..."
          ngModel
        ></textarea>
      </div>

      <p id="OR">OR</p>

      <div class="scenario-holder">
        <textarea
          name="scenario2"
          id="scenario2"
          placeholder="...and a comparable scenario here."
          required
          ngModel
        ></textarea>
      </div>
    </div>
    <button class="recap" (click)="showRecap()" id="ADD" type="button">
      <!-- <button id="ADD" type="submit"> -->
      ADD
    </button>
    <div class="recap-container" *ngIf="clicked">
      <div *ngIf="bad === false">
        <p class="message">
          Do you want to submit your questions?
        </p>
      </div>
      <div *ngIf="bad === true">
        <p>
          Your question was not submitted because of improper langauge, please
          close this and consider your word use.
        </p>
      </div>
      <div *ngIf="bad === false">
        <button id="ADD" type="submit" [disabled]="newScenario.invalid">
          Submit
        </button>
      </div>
      <div class="recap-fin" *ngIf="submitted === true && bad === false">
        <p id="thanks">
          Thank you for your submission! Please refresh the page if you'd like
          to submit another question.
        </p>
      </div>
      <button class="exit" (click)="showRecap()" (click)="refreshBad()">
        X Exit
      </button>
    </div>
  </form>

  <button id="back" type="button" routerLink="/players">
    Back to the Game
  </button>
</section>
