<section>
  <img id="logo" src="./assets/SHEEPLE.png" title="sheeple vs peeple" />
  <h1>Create-A-Question</h1>

  <form #newScenario="ngForm" (submit)="addScenario(newScenario)">
    <div id="formhold">
      <div class="scenario-holder">
        <textarea
          name="scenario1"
          id="scenario1"
          placeholder="Type your scenario here"
          required
          ngModel
        ></textarea>
      </div>
      <div id="OR">
        <p>OR</p>
      </div>
      <div class="scenario-holder">
        <textarea
          name="scenario2"
          id="scenario2"
          placeholder="Type it's opposition"
          required
          ngModel
        ></textarea>
      </div>
    </div>
    <button id="ADD" type="submit">ADD</button>
  </form>

  <button id="back" type="button" routerLink="/players">
    Back to the Game
  </button>
</section>
