#logo {
  height: auto;
  width: auto;
  max-height: 150px;
  max-width: 150px;
  margin-top: 10px;
}

img {
  cursor: pointer;
}

#logo:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 40px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #325555;
  min-height: 100vh;
  background: linear-gradient(45deg, #1c3232 0%, #325555 100%);
}

h1 {
  color: #daeef8;
  padding: 20px;
  font-size: 4vh;
}

#formhold {
  display: flex;
  height: 40%;

  width: 100%;
  justify-content: center;
  align-items: center;
}

#OR {
  padding: 20px;
  font-size: 3vh;
  color: #daeef8;
}
/* 
.scenario-holder {
  height: 80%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #daeef8;
} */

#description p {
  font-family: "lato", sans-serif;
  font-size: 2.2vh;
  text-align: center;
}
#description {
  width: 90%;
  background-color: #daeef8;
  padding: 10px;
  border: 2px solid #daeef8;
  border-radius: 3px;
}

.italic {
  font-style: italic;
  font-weight: bold;
}

.scenario-holder {
  background: linear-gradient(
    0deg,
    rgba(218, 238, 248, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );

  height: 170px;
  margin: 10px;
  width: 30%;
  padding: 20px;
  cursor: pointer;
  border: 1px #daeef8;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  margin-left: 16px;
}

.scenario-holder:hover {
  background: linear-gradient(360deg, #1c3232 0%, rgba(255, 255, 255, 1) 100%);
}

.qtext {
  font-size: 80%;
  text-align: center;
}
button {
  color: #daeef8;
  margin: 10px;
  background-color: #1c3232;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #1c3232;

  font-size: 2.4vh;
}

button:hover {
  color: #1c3232;
  background-color: #daeef8;
}

@media screen and (min-width: 476px) {
  #description {
    width: 75%;
  }
  #description p {
    font-size: 3vh;
  }

  .qtext {
    font-size: 14pt;
  }

  button {
    margin: 10px;
  }
}

@media screen and (min-width: 915px) {
  #logo {
    position: absolute;
    top: 2%;
    left: 3%;
  }

  main {
    padding-top: 10%;
  }

  h1 {
    font-size: 6vh;
  }

  #formhold {
    margin-top: 3.5%;
    justify-content: space-around;
    width: 68%;
  }
  .scenario-holder {
    height: 40%;
  }

  .qtext {
    font-size: 2.2vh;
  }

  #description {
    width: 60%;
  }

  button {
    margin-top: 3.5%;
  }
}
