<main>
  <img id="logo" src="./assets/SHEEPLE.png" title="sheeple vs peeple" />
  <h1>How to Play</h1>
  <div id="description">
    <p>
      Sheeple Vs. Peeple is simple: just choose whichever option you prefer.
      From the persona you'd like to play as, to the questions presented,
      everything is as simple as a click or tap. You play the way you want, and
      in the end find out if you're a unique person, or one of the sheeple.
    </p>
  </div>

  <div id="formhold">
    <div class="scenario-holder">
      <p class="qtext">
        Be watched once while you sleep, but you know when/where.
      </p>
    </div>
    <div id="OR">
      <p>OR</p>
    </div>
    <div class="scenario-holder">
      <p class="qtext">
        Be watched while you sleep a total of ten times, but you never know
        when/where.
      </p>
    </div>
  </div>

  <button type="button" routerLink="/players">
    Back to the Game
  </button>
</main>
